<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.shtel.secure.platform.monitorDemo.model.mapper.MonitorMapper">
  <resultMap id="BaseResultMap" type="com.shtel.secure.platform.monitorDemo.model.bo.Monitor">
    <id column="monitor_id" jdbcType="VARCHAR" property="monitorId" />
    <result column="firm_code" jdbcType="VARCHAR" property="firmCode" />
    <result column="group_id" jdbcType="VARCHAR" property="groupId" />
    <result column="device_type" jdbcType="VARCHAR" property="deviceType" />
    <result column="device_code" jdbcType="VARCHAR" property="deviceCode" />
    <result column="report_time" jdbcType="TIMESTAMP" property="reportTime" />
    <result column="next_report_time" jdbcType="TIMESTAMP" property="nextReportTime" />
    <result column="newest_warn_time" jdbcType="TIMESTAMP" property="newestWarnTime" />
    <result column="state" jdbcType="VARCHAR" property="state" />
    <result column="create_user" jdbcType="VARCHAR" property="createUser" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_user" jdbcType="VARCHAR" property="updateUser" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="memo" jdbcType="VARCHAR" property="memo" />
    <result column="belong_dept_id" jdbcType="VARCHAR" property="belongDeptId" />
    <result column="belong_lessee_id" jdbcType="VARCHAR" property="belongLesseeId" />
    <result column="device_name" jdbcType="VARCHAR" property="deviceName" />
    <result column="device_brand" jdbcType="VARCHAR" property="deviceBrand" />
    <result column="device_model" jdbcType="VARCHAR" property="deviceModel" />
    <result column="address_desc" jdbcType="VARCHAR" property="addressDesc" />
    <result column="address_area" jdbcType="VARCHAR" property="addressArea" />
    <result column="address_street" jdbcType="VARCHAR" property="addressStreet" />
    <result column="address_village" jdbcType="VARCHAR" property="addressVillage" />
    <result column="address_lon" jdbcType="VARCHAR" property="addressLon" />
    <result column="address_lat" jdbcType="VARCHAR" property="addressLat" />
    <result column="address_hight" jdbcType="VARCHAR" property="addressHight" />
  </resultMap>
  <resultMap extends="BaseResultMap" id="ResultMapWithBLOBs" type="com.shtel.secure.platform.monitorDemo.model.bo.Monitor">
    <result column="monitor_content" jdbcType="LONGVARCHAR" property="monitorContent" />
  </resultMap>
  <sql id="Base_Column_List">
    monitor_id, firm_code, group_id, device_type, device_code, report_time, next_report_time, 
    newest_warn_time, state, create_user, create_time, update_user, update_time, memo, 
    belong_dept_id, belong_lessee_id, device_name, device_brand, device_model, address_desc, 
    address_area, address_street, address_village, address_lon, address_lat, address_hight
  </sql>
  <sql id="Blob_Column_List">
    monitor_content
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="ResultMapWithBLOBs">
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from t_monitor
    where monitor_id = #{monitorId,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from t_monitor
    where monitor_id = #{monitorId,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.shtel.secure.platform.monitorDemo.model.bo.Monitor">
    insert into t_monitor (monitor_id, firm_code, group_id, 
      device_type, device_code, report_time, 
      next_report_time, newest_warn_time, state, 
      create_user, create_time, update_user, 
      update_time, memo, belong_dept_id, 
      belong_lessee_id, device_name, device_brand, 
      device_model, address_desc, address_area, 
      address_street, address_village, address_lon, 
      address_lat, address_hight, monitor_content
      )
    values (#{monitorId,jdbcType=VARCHAR}, #{firmCode,jdbcType=VARCHAR}, #{groupId,jdbcType=VARCHAR}, 
      #{deviceType,jdbcType=VARCHAR}, #{deviceCode,jdbcType=VARCHAR}, #{reportTime,jdbcType=TIMESTAMP}, 
      #{nextReportTime,jdbcType=TIMESTAMP}, #{newestWarnTime,jdbcType=TIMESTAMP}, #{state,jdbcType=VARCHAR}, 
      #{createUser,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP}, #{updateUser,jdbcType=VARCHAR}, 
      #{updateTime,jdbcType=TIMESTAMP}, #{memo,jdbcType=VARCHAR}, #{belongDeptId,jdbcType=VARCHAR}, 
      #{belongLesseeId,jdbcType=VARCHAR}, #{deviceName,jdbcType=VARCHAR}, #{deviceBrand,jdbcType=VARCHAR}, 
      #{deviceModel,jdbcType=VARCHAR}, #{addressDesc,jdbcType=VARCHAR}, #{addressArea,jdbcType=VARCHAR}, 
      #{addressStreet,jdbcType=VARCHAR}, #{addressVillage,jdbcType=VARCHAR}, #{addressLon,jdbcType=VARCHAR}, 
      #{addressLat,jdbcType=VARCHAR}, #{addressHight,jdbcType=VARCHAR}, #{monitorContent,jdbcType=LONGVARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.shtel.secure.platform.monitorDemo.model.bo.Monitor">
    insert into t_monitor
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="monitorId != null">
        monitor_id,
      </if>
      <if test="firmCode != null">
        firm_code,
      </if>
      <if test="groupId != null">
        group_id,
      </if>
      <if test="deviceType != null">
        device_type,
      </if>
      <if test="deviceCode != null">
        device_code,
      </if>
      <if test="reportTime != null">
        report_time,
      </if>
      <if test="nextReportTime != null">
        next_report_time,
      </if>
      <if test="newestWarnTime != null">
        newest_warn_time,
      </if>
      <if test="state != null">
        state,
      </if>
      <if test="createUser != null">
        create_user,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="updateUser != null">
        update_user,
      </if>
      <if test="updateTime != null">
        update_time,
      </if>
      <if test="memo != null">
        memo,
      </if>
      <if test="belongDeptId != null">
        belong_dept_id,
      </if>
      <if test="belongLesseeId != null">
        belong_lessee_id,
      </if>
      <if test="deviceName != null">
        device_name,
      </if>
      <if test="deviceBrand != null">
        device_brand,
      </if>
      <if test="deviceModel != null">
        device_model,
      </if>
      <if test="addressDesc != null">
        address_desc,
      </if>
      <if test="addressArea != null">
        address_area,
      </if>
      <if test="addressStreet != null">
        address_street,
      </if>
      <if test="addressVillage != null">
        address_village,
      </if>
      <if test="addressLon != null">
        address_lon,
      </if>
      <if test="addressLat != null">
        address_lat,
      </if>
      <if test="addressHight != null">
        address_hight,
      </if>
      <if test="monitorContent != null">
        monitor_content,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="monitorId != null">
        #{monitorId,jdbcType=VARCHAR},
      </if>
      <if test="firmCode != null">
        #{firmCode,jdbcType=VARCHAR},
      </if>
      <if test="groupId != null">
        #{groupId,jdbcType=VARCHAR},
      </if>
      <if test="deviceType != null">
        #{deviceType,jdbcType=VARCHAR},
      </if>
      <if test="deviceCode != null">
        #{deviceCode,jdbcType=VARCHAR},
      </if>
      <if test="reportTime != null">
        #{reportTime,jdbcType=TIMESTAMP},
      </if>
      <if test="nextReportTime != null">
        #{nextReportTime,jdbcType=TIMESTAMP},
      </if>
      <if test="newestWarnTime != null">
        #{newestWarnTime,jdbcType=TIMESTAMP},
      </if>
      <if test="state != null">
        #{state,jdbcType=VARCHAR},
      </if>
      <if test="createUser != null">
        #{createUser,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateUser != null">
        #{updateUser,jdbcType=VARCHAR},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="memo != null">
        #{memo,jdbcType=VARCHAR},
      </if>
      <if test="belongDeptId != null">
        #{belongDeptId,jdbcType=VARCHAR},
      </if>
      <if test="belongLesseeId != null">
        #{belongLesseeId,jdbcType=VARCHAR},
      </if>
      <if test="deviceName != null">
        #{deviceName,jdbcType=VARCHAR},
      </if>
      <if test="deviceBrand != null">
        #{deviceBrand,jdbcType=VARCHAR},
      </if>
      <if test="deviceModel != null">
        #{deviceModel,jdbcType=VARCHAR},
      </if>
      <if test="addressDesc != null">
        #{addressDesc,jdbcType=VARCHAR},
      </if>
      <if test="addressArea != null">
        #{addressArea,jdbcType=VARCHAR},
      </if>
      <if test="addressStreet != null">
        #{addressStreet,jdbcType=VARCHAR},
      </if>
      <if test="addressVillage != null">
        #{addressVillage,jdbcType=VARCHAR},
      </if>
      <if test="addressLon != null">
        #{addressLon,jdbcType=VARCHAR},
      </if>
      <if test="addressLat != null">
        #{addressLat,jdbcType=VARCHAR},
      </if>
      <if test="addressHight != null">
        #{addressHight,jdbcType=VARCHAR},
      </if>
      <if test="monitorContent != null">
        #{monitorContent,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.shtel.secure.platform.monitorDemo.model.bo.Monitor">
    update t_monitor
    <set>
      <if test="firmCode != null">
        firm_code = #{firmCode,jdbcType=VARCHAR},
      </if>
      <if test="groupId != null">
        group_id = #{groupId,jdbcType=VARCHAR},
      </if>
      <if test="deviceType != null">
        device_type = #{deviceType,jdbcType=VARCHAR},
      </if>
      <if test="deviceCode != null">
        device_code = #{deviceCode,jdbcType=VARCHAR},
      </if>
      <if test="reportTime != null">
        report_time = #{reportTime,jdbcType=TIMESTAMP},
      </if>
      <if test="nextReportTime != null">
        next_report_time = #{nextReportTime,jdbcType=TIMESTAMP},
      </if>
      <if test="newestWarnTime != null">
        newest_warn_time = #{newestWarnTime,jdbcType=TIMESTAMP},
      </if>
      <if test="state != null">
        state = #{state,jdbcType=VARCHAR},
      </if>
      <if test="createUser != null">
        create_user = #{createUser,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateUser != null">
        update_user = #{updateUser,jdbcType=VARCHAR},
      </if>
      <if test="updateTime != null">
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="memo != null">
        memo = #{memo,jdbcType=VARCHAR},
      </if>
      <if test="belongDeptId != null">
        belong_dept_id = #{belongDeptId,jdbcType=VARCHAR},
      </if>
      <if test="belongLesseeId != null">
        belong_lessee_id = #{belongLesseeId,jdbcType=VARCHAR},
      </if>
      <if test="deviceName != null">
        device_name = #{deviceName,jdbcType=VARCHAR},
      </if>
      <if test="deviceBrand != null">
        device_brand = #{deviceBrand,jdbcType=VARCHAR},
      </if>
      <if test="deviceModel != null">
        device_model = #{deviceModel,jdbcType=VARCHAR},
      </if>
      <if test="addressDesc != null">
        address_desc = #{addressDesc,jdbcType=VARCHAR},
      </if>
      <if test="addressArea != null">
        address_area = #{addressArea,jdbcType=VARCHAR},
      </if>
      <if test="addressStreet != null">
        address_street = #{addressStreet,jdbcType=VARCHAR},
      </if>
      <if test="addressVillage != null">
        address_village = #{addressVillage,jdbcType=VARCHAR},
      </if>
      <if test="addressLon != null">
        address_lon = #{addressLon,jdbcType=VARCHAR},
      </if>
      <if test="addressLat != null">
        address_lat = #{addressLat,jdbcType=VARCHAR},
      </if>
      <if test="addressHight != null">
        address_hight = #{addressHight,jdbcType=VARCHAR},
      </if>
      <if test="monitorContent != null">
        monitor_content = #{monitorContent,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where monitor_id = #{monitorId,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="com.shtel.secure.platform.monitorDemo.model.bo.Monitor">
    update t_monitor
    set firm_code = #{firmCode,jdbcType=VARCHAR},
      group_id = #{groupId,jdbcType=VARCHAR},
      device_type = #{deviceType,jdbcType=VARCHAR},
      device_code = #{deviceCode,jdbcType=VARCHAR},
      report_time = #{reportTime,jdbcType=TIMESTAMP},
      next_report_time = #{nextReportTime,jdbcType=TIMESTAMP},
      newest_warn_time = #{newestWarnTime,jdbcType=TIMESTAMP},
      state = #{state,jdbcType=VARCHAR},
      create_user = #{createUser,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_user = #{updateUser,jdbcType=VARCHAR},
      update_time = #{updateTime,jdbcType=TIMESTAMP},
      memo = #{memo,jdbcType=VARCHAR},
      belong_dept_id = #{belongDeptId,jdbcType=VARCHAR},
      belong_lessee_id = #{belongLesseeId,jdbcType=VARCHAR},
      device_name = #{deviceName,jdbcType=VARCHAR},
      device_brand = #{deviceBrand,jdbcType=VARCHAR},
      device_model = #{deviceModel,jdbcType=VARCHAR},
      address_desc = #{addressDesc,jdbcType=VARCHAR},
      address_area = #{addressArea,jdbcType=VARCHAR},
      address_street = #{addressStreet,jdbcType=VARCHAR},
      address_village = #{addressVillage,jdbcType=VARCHAR},
      address_lon = #{addressLon,jdbcType=VARCHAR},
      address_lat = #{addressLat,jdbcType=VARCHAR},
      address_hight = #{addressHight,jdbcType=VARCHAR},
      monitor_content = #{monitorContent,jdbcType=LONGVARCHAR}
    where monitor_id = #{monitorId,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.shtel.secure.platform.monitorDemo.model.bo.Monitor">
    update t_monitor
    set firm_code = #{firmCode,jdbcType=VARCHAR},
      group_id = #{groupId,jdbcType=VARCHAR},
      device_type = #{deviceType,jdbcType=VARCHAR},
      device_code = #{deviceCode,jdbcType=VARCHAR},
      report_time = #{reportTime,jdbcType=TIMESTAMP},
      next_report_time = #{nextReportTime,jdbcType=TIMESTAMP},
      newest_warn_time = #{newestWarnTime,jdbcType=TIMESTAMP},
      state = #{state,jdbcType=VARCHAR},
      create_user = #{createUser,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_user = #{updateUser,jdbcType=VARCHAR},
      update_time = #{updateTime,jdbcType=TIMESTAMP},
      memo = #{memo,jdbcType=VARCHAR},
      belong_dept_id = #{belongDeptId,jdbcType=VARCHAR},
      belong_lessee_id = #{belongLesseeId,jdbcType=VARCHAR},
      device_name = #{deviceName,jdbcType=VARCHAR},
      device_brand = #{deviceBrand,jdbcType=VARCHAR},
      device_model = #{deviceModel,jdbcType=VARCHAR},
      address_desc = #{addressDesc,jdbcType=VARCHAR},
      address_area = #{addressArea,jdbcType=VARCHAR},
      address_street = #{addressStreet,jdbcType=VARCHAR},
      address_village = #{addressVillage,jdbcType=VARCHAR},
      address_lon = #{addressLon,jdbcType=VARCHAR},
      address_lat = #{addressLat,jdbcType=VARCHAR},
      address_hight = #{addressHight,jdbcType=VARCHAR}
    where monitor_id = #{monitorId,jdbcType=VARCHAR}
  </update>
</mapper>