<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.shtel.secure.platform.perfom.model.mapper.BasicMapper">
    <select id="selectWebDetail" parameterType="com.shtel.secure.platform.perfom.model.PerformReq" resultType="com.shtel.secure.platform.perfom.model.Perform">
       SELECT
        b.url,
        SUM(IF(b.siteinfo is null,0,b.siteinfo)) siteinfo,
        SUM(IF(b.availability is null,0,b.availability)) availability,
        SUM(IF(b.black_links is null,0,b.black_links)) blackLinks,
        SUM(IF(b.sql_injection is null,0,b.sql_injection)) sqlInjection,
        SUM(IF(b.keyword is null,0,b.keyword)) keyword,
        SUM(IF(b.xss is null,0,b.xss)) xss,
        SUM(IF(b.webvul is null,0,b.webvul)) webvul,
        SUM(IF(b.info_leak is null,0,b.info_leak)) infoLeak,
        SUM(IF(b.cgi is null,0,b.cgi)) cgi,
        SUM(IF(b.csrf is null,0,b.csrf)) csrf,
        SUM(IF(b.form_crack is null,0,b.form_crack)) formCrack,
        SUM(b.risk_url_count) riskUrlCount,
        SUM(b.risk_info_count) riskInfoCount,
        SUM(b.risk_high_count) riskHighCount,
        SUM(b.risk_middle_count) riskMiddleCount,
        SUM(b.risk_low_count) riskLowCount
        FROM
			(SELECT virtual_group_id,create_time,finish_rate,update_time FROM ws_task WHERE user_id=#{userId} and is_success= 1 and status=0
            <if test="isPeriod != null">
                and is_period=#{isPeriod}
             </if>
             <if test="createTime != null">
                 and create_time>#{isPeriod}
             </if>
			) a
        JOIN
        (select * from ws_finish_type
        <if test="url != null">
            WHERE url LIKE CONCAT('%',#{url},'%')
        </if>
        ) b
        ON
		a.virtual_group_id=b.virtual_group_id
       group by b.url
    </select>
    <select id="countWebDetail" parameterType="com.shtel.secure.platform.perfom.model.PerformReq" resultType="int">
        SELECT
        COUNT(c.url)
        FROM
        (SELECT
              count(b.url) url
            FROM
            (SELECT virtual_group_id,create_time,finish_rate,update_time FROM ws_task WHERE user_id=#{userId} and is_success= 1 and status=0
            <if test="isPeriod != null">
                and is_period=#{isPeriod}
            </if>
            <if test="createTime != null">
                and create_time>#{isPeriod}
            </if>
            ) a
           JOIN
        (select * from ws_finish_type
        <if test="url != null">
            WHERE url LIKE CONCAT('%',#{url},'%')
        </if>
        ) b
            ON
            a.virtual_group_id=b.virtual_group_id
           group by
           b.url) c
    </select>
</mapper>